<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>$title | $project_name</title>
#if ($rdf_link)
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
#end
	<link rel="stylesheet" type="text/css" href="${server_base}static/foundation/css/foundation.min.css" />
	<link rel="stylesheet" type="text/css" href="${server_base}static/foundation/css/app.css" />
	<link rel="stylesheet" type="text/css" href="${server_base}country/css/jquery-jvectormap-1.2.2.css" />
	<script type="text/javascript" src="${server_base}static/foundation/js/vendor/jquery.js"></script>
	<script type="text/javascript" src="${server_base}static/foundation/js/vendor/custom.modernizr.js"></script>
	<script type="text/javascript" src="${server_base}static/foundation/js/foundation.min.js"></script>
	<script type="text/javascript" src="${server_base}static/foundation/js/foundation/foundation.section.js"></script>
	
	<script type="text/javascript" src="${server_base}static/map/js/jquery-jvectormap-1.2.2.min.js"></script>
	<script type="text/javascript" src="${server_base}static/map/js/onregionselected.js"></script>
	<script type="text/javascript" src="${server_base}static/map/js/wescountry.js"></script>
	<script type="text/javascript" src="${server_base}static/map/js/world.map.js"></script>
	
	<script type="text/javascript" src="${server_base}static/region/script.js"></script>
	
  </head>
  <body onLoad='init([ #foreach( $var in $countries )#if($foreach.index>  0),#end "$var" #end ]);'>
  
	<header class="row">
		<div class="large-6 columns">
			<img src="${server_base}static/web-index.png" alt="Web Index">
			<a href="http://thewebindex.org" class="row">thewebindex.org</a>
		</div>
		<div class="large-6 columns">
			<h2 class="right">${title}</h2>
		</div>
		<hr/>
	</header>
  
    <div class="row">
		<div id="world-map"></div>
	</div>

#if ($back_uri)
	<p><a href="$back_uri">Back to $back_label</a></p>
#end