<div class="row">
	<section class="section large-12 columns">
		<h5>Countries</h5>
		<div class="content">
			<p>The following countries are part of $title:</p>
			<ul>
#foreach( $var in $countries )
				<li><a href="$var.uri" title="$var.name">$var.name</a></li>
#end
			</ul>
		</div>
	</section>
</div>