<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>$title | $project_name</title>
#if ($rdf_link)
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
#end
	<link rel="stylesheet" type="text/css" href="${server_base}static/foundation/stylesheets/foundation.min.css" />
	<link rel="stylesheet" type="text/css" href="${server_base}static/foundation/stylesheets/app.css" />
	<script type="text/javascript" src="${server_base}static/foundation/javascripts/jquery.js"></script>
	<script type="text/javascript" src="${server_base}static/foundation/javascripts/modernizr.foundation.js"></script>
    <script type="text/javascript" src="${server_base}static/script.js"></script>
	<script type="text/javascript" src="${server_base}static/foundation/javascripts/app.js"></script>
	<script type="text/javascript" src="${server_base}static/foundation/javascripts/foundation.js"></script>
  </head>
  <body onLoad="init();">
  
	<header class="row">
		<div class="six columns">
			<img src="${server_base}static/web-index.png" alt="Web Index">
			<a href="http://thewebindex.org" class="row">thewebindex.org</a>
		</div>
		<div class="six columns">
			<h5 class="right">2012 Rank <span id="rank" class="globalRank"></span></h5>
		</div>
		<hr/>
	</header>
  
    <div class="row">
		<div class="six columns">
			<table id="scores">
				<thead>
					<tr>
						<th></th>
						<th>Score</th>
						<th>Rank</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Overall Index</td>
						<td class="globalScore"></td>
						<td class="globalRank"></td>
					</tr>
					<tr class="subindex">
						<td>Readiness</td>
						<td class="readScore"></td>
						<td class="readRank"></td>
					</tr>
					<tr>
						<td>Communications Infrastructure</td>
						<td class="ciScore"></td>
						<td class="ciRank"></td>
					</tr>
					<tr>
						<td>Institutional Infrastructure</td>
						<td class="iiScore"></td>
						<td class="iiRank"></td>
					</tr>
					<tr class="subindex">
						<td>The Web</td>
						<td class="webScore"></td>
						<td class="webRank"></td>
					</tr>
					<tr>
						<td>Web Use</td>
						<td class="wuScore"></td>
						<td class="wuRank"></td>
					</tr>
					<tr>
						<td>Web Content</td>
						<td class="wcScore"></td>
						<td class="wcRank"></td>
					</tr>
					<tr class="subindex">
						<td>Impact</td>
						<td class="impactScore"></td>
						<td class="impactRank"></td>
					</tr>
					<tr>
						<td>Social Impact</td>
						<td class="socialScore"></td>
						<td class="socialRank"></td>
					</tr>
					<tr>
						<td>Economic Impact</td>
						<td class="economicScore"></td>
						<td class="economicRank"></td>
					</tr>
					<tr>
						<td>Political Impact</td>
						<td class="politicalScore"></td>
						<td class="politicalRank"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="six columns country_name">
			<h1 id="title">$title</h1>
			<img src="" alt=$title id="flag"/>
		</div>
	</div>

#if ($back_uri)
	<p><a href="$back_uri">Back to $back_label</a></p>
#end